# python bytecode files
__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
dist/
build/
*.egg-info/

# configuration with secrets
settings.py

# virtual environments
.venv
venv/
.env/
env/

# raw videos and transcripts
data/**/*.txt
data/**/*.mp4
data/**/*.avi
data/**/*.mov
data/**/*.webm
data/**/*.mpg